.btn {
  --background: #25214F;
  --color: #fff;
  text-transform: capitalize;
  height: 3.5rem;
  font-weight: 300;
  font-size: 1.2rem;
  --background-activated: #25214F;
}

ion-button {
  --border-radius: 15px;

}


.title {
  color: #25214F;
  font-weight: 800;
}

img {
  height: 291px;
  width: 230px;
}

