<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Royal MFB
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content slot="fixed" style="padding:20px">
  <ion-header collapse="condense">
    <ion-toolbar class="toolbar">
      <ion-title size="large"></ion-title>
      <a href="http://" target="_blank" rel="noopener noreferrer">Skip</a>
    </ion-toolbar>
  </ion-header>

  <app-welcome [caption]=title [subtitle]=subtitle [buttonText]=buttonText [source]=source></app-welcome>

</ion-content>
